@import "./_common";
body.index {
    background-color: green;
    p {
        margin-top: 30vh;
        font-size: 40px;
        color: red;
        text-align: center;
    }
    img {
        margin: 100px auto;
    }
}
